fig_1_Article_search_funnel.tif
fig_3_Article_country.tif
fig_4_Article_phase.tif
fig_4_Article_phase_3.tif
fig_5_Article_source_year_stack.tif
fig_6.tif
fig_6_Article_test_quality.tif
fig_7_characterisation_by_phase.tif
fig_10_moa_diff.tif
fig_7_alt.tif
fig_7_charact_by_marker.tif
fig_9_moa_isct.tif
fig_8_functionality_assessment.tif
fig_7_charact_by_marker_ALTERNATIVE.tif
